pkgbase = zd-git
	pkgdesc = Extendable fuzzy directory selector
	pkgver = 0.1.0.beta.1.r20.gb3d0640
	pkgrel = 1
	url = https://github.com/deorbil/zd
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = fzf
	provides = zd
	conflicts = zd
	options = !lto
	source = git+https://github.com/deorbil/zd.git
	sha256sums = SKIP

pkgname = zd-git
